@import url('https://googleapis.com');

.button-container button {
  display: inline-block;
  margin-right: 30px; /* Adds space to the right of each button */
}

/* Forces the target nav element container to change color */
nav.distill-site-nav, 
.distill-site-nav, 
body .distill-site-nav {
  background-color:#015482!important;
}

/* For desktop layouts where the aside column is visible */
@media (min-width: 1024px) {
  d-article {
    /* Adjust the last value (e.g., change 300px to your desired aside width) */
    grid-template-columns: [screen-start] 1fr [text-start kicker-end] minmax(500px, 1fr) [text-end gutter-start] 60px [gutter-end aside-start] 350px [aside-end screen-end];
  }
}

/* For mobile/tablet viewports where asides stack or display differently */
d-article aside {
  width: 300%;
}


.mobile-table-container {
  overflow-x: auto;
  display: block;
  width: 100%;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

/* Add this to your theme.css file */
.d-article table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


