@import url('https://googleapis.com');

html {
  --body-font: 'Lora', serif;
  --heading-font: 'Lora', serif;
}

body {
  font-family: var(--body-font);
}

.button-container button {
  display: inline-block;
  margin-right: 50px; /* Adds space to the right of each button */
}


.distill-site-nav {
  background-color: #222629; /* Change to your preferred hex color */
  color: rgba(255, 255, 255, 0.8);
}
.distill-site-nav a:hover {
  color: #ff6b6b; /* Change hover color if needed */
}