@import url('https://googleapis.com');

html {
  --body-font: 'Lora', serif;
  --heading-font: 'Lora', serif;
}

body {
  font-family: var(--body-font);
}

.button-container button {
  display: inline-block;
  margin-right: 30px; /* Adds space to the right of each button */
}

/* Forces the target nav element container to change color */
nav.distill-site-nav, 
.distill-site-nav, 
body .distill-site-nav {
  background-color: #4A5568 !important;
}